<h1 class="title">
  Glimmer <span class="title--accent">Material</span>
</h1>

<section class="introduction">
  <p>A <a href="https://glimmerjs.com/">Glimmer.js</a> wrapper for <a href="https://material.io/components/web/">Material Components for the Web</a>.</p>
  <code><span>yarn add glimmer-material</span> <span class="lang">sh</span></code>
  <code><span>@import "glimmer-material/button"</span> <span class="lang">scss</span></code>
  <code><span>&lt;gm::button onclick=&#123;&#123;action next&#125;&#125;&gt;Next&lt;/gm::button&gt;</span> <span class="lang">hbs</span></code>
  <p><small>⚠️ The quickstart above is an example and does not work yet!</small></p>
</section>

<nav class="components">
  <ul class="component-list">
    <li class="component-list-item">
      <a class="component-list-item__link icon-button" href="#/buttons">
        <div>
          <h2 class="component-list-item__title">Buttons</h2>
          <div class="component-list-item__description"> Material Design-styled buttons. </div>
        </div>
      </a>
    </li>
    <li class="component-list-item component-list-item--wip">
      <a class="component-list-item__link icon-card" href="#/cards">
        <div>
          <h2 class="component-list-item__title">Cards</h2>
          <div class="component-list-item__description"> Cards for displaying content composed of different elements. </div>
        </div>
      </a>
    </li>
    <li class="component-list-item component-list-item--wip">
      <a class="component-list-item__link icon-dialog" href="#/dialogs">
        <div>
          <h2 class="component-list-item__title">Dialogs</h2>
          <div class="component-list-item__description"> Modal dialogs. </div>
        </div>
      </a>
    </li>
    <li class="component-list-item component-list-item--wip">
      <a class="component-list-item__link icon-drawer" href="#/drawers">
        <div>
          <h2 class="component-list-item__title">Drawers</h2>
          <div class="component-list-item__description"> Permanent, persistent, and temporary drawers. </div>
        </div>
      </a>
    </li>
    <li class="component-list-item component-list-item--wip">
      <a class="component-list-item__link icon-elevation" href="#/elevation">
        <div>
          <h2 class="component-list-item__title">Elevation</h2>
          <div class="component-list-item__description"> Shadows and elevation as Sass mixins and CSS classes. </div>
        </div>
      </a>
    </li>
    <li class="component-list-item component-list-item--wip">
      <a class="component-list-item__link icon-input" href="#/input-controls">
        <div>
          <h2 class="component-list-item__title">Inputs and Controls</h2>
          <div class="component-list-item__description"> Form fields, checkboxes, menus, and other input components. </div>
        </div>
      </a>
    </li>
    <li class="component-list-item component-list-item--wip">
      <a class="component-list-item__link icon-progress" href="#/linear-progress">
        <div>
          <h2 class="component-list-item__title">Linear Progress</h2>
          <div class="component-list-item__description"> Material Design-styled linear progress indicators. </div>
        </div>
      </a>
    </li>
    <li class="component-list-item component-list-item--wip">
      <a class="component-list-item__link icon-list" href="#/lists">
        <div>
          <h2 class="component-list-item__title">Lists</h2>
          <div class="component-list-item__description"> Lists present multiple line items vertically as a single continuous element. </div>
        </div>
      </a>
    </li>
    <li class="component-list-item component-list-item--wip">
      <a class="component-list-item__link icon-menu" href="#/menus">
        <div>
          <h2 class="component-list-item__title">Menus</h2>
          <div class="component-list-item__description"> Non-cascading Material Design menus. </div>
        </div>
      </a>
    </li>
    <li class="component-list-item component-list-item--wip">
      <a class="component-list-item__link icon-snackbar" href="#/snackbars">
        <div>
          <h2 class="component-list-item__title">Snackbars</h2>
          <div class="component-list-item__description"> Brief feedback for an action through a message at the bottom of the screen. </div>
        </div>
      </a>
    </li>
    <li class="component-list-item component-list-item--wip">
      <a class="component-list-item__link icon-toolbar" href="#/toolbar">
        <div>
          <h2 class="component-list-item__title">Toolbars</h2>
          <div class="component-list-item__description"> A container for multiple rows of items such as application title, navigation menu, or tabs. </div>
        </div>
      </a>
    </li>
  </ul>
</nav>