<div>
  <h2>Buttons</h2>
  <div>
    <gm-button>Default</gm-button>
    <gm-button class="mdc-button--raised">Raised</gm-button>
    <gm-button class="mdc-button--raised" @noRipple=true>Raised (No Ripple)</gm-button>
    <gm-button class="mdc-button--raised mdc-button--accent">Raised with Accent</gm-button>
  </div>
  <div>
      <pre><code class="language-markup">&#x3C;gm-button&#x3E;Default&#x3C;/gm-button&#x3E;
&#x3C;gm-button class=&#x22;mdc-button--raised&#x22;&#x3E;Raised&#x3C;/gm-button&#x3E;
&#x3C;gm-button class=&#x22;mdc-button--raised&#x22; @noRipple=true&#x3E;Raised (No Ripple)&#x3C;/gm-button&#x3E;
&#x3C;gm-button class=&#x22;mdc-button--raised mdc-button--accent&#x22;&#x3E;Raised with Accent&#x3C;/gm-button&#x3E;</code></pre>
  </div>
  <div>
    <h3>Floating Action Buttons</h3>
    <gm-button class="mdc-fab material-icons" aria-label="Favorite">
      <span class="mdc-fab__icon">favorite</span>
    </gm-button>
  </div>
  <div>
      <pre><code class="language-markup">&#x3C;gm-button class=&#x22;mdc-fab material-icons&#x22; aria-label=&#x22;Favorite&#x22;&#x3E;
  &#x3C;span class=&#x22;mdc-fab__icon&#x22;&#x3E;favorite&#x3C;/span&#x3E;
&#x3C;/gm-button&#x3E;</code></pre>
  </div>
</div>