<div>
  <h2>Buttons</h2>
  <div>
    <gm-button>Default</gm-button>
    <gm-button @raised=true @ripple=true>Raised</gm-button>
    <gm-button @raised=true>Raised (No Ripple)</gm-button>
    <gm-button @accent=true @raised=true @ripple=true>Raised with Accent</gm-button>
  </div>
  <div>
      <pre><code class="language-markup">&lt;gm-button&gt;Default&lt;/gm-button&gt;
&lt;gm-button class="mdc-button--raised"&gt;Raised&lt;/gm-button&gt;
&lt;gm-button class="mdc-button--raised" @noRipple=true&gt;Raised (No Ripple)&lt;/gm-button&gt;
&lt;gm-button class="mdc-button--raised mdc-button--accent"&gt;Raised with Accent&lt;/gm-button&gt;</code></pre>
  </div>
  <div>
    <h3>Floating Action Buttons</h3>
    <gm-fab @icon="favorite" aria-label="Favorite" />
    <gm-fab @icon="favorite" @plain=true aria-label="Favorite" />
    <gm-fab @icon="favorite" @mini=true aria-label="Favorite" />
  </div>
  <div>
      <pre><code class="language-markup">&lt;gm-fab @icon="favorite" aria-label="Favorite" /&gt;
&lt;gm-fab @icon="favorite" @plain=true aria-label="Favorite" /&gt;
&lt;gm-fab @icon="favorite" @mini=true aria-label="Favorite" /&gt;</code></pre>
  </div>
</div>