.glimmer-material {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  max-width: 1024px;
  padding: 5px;

  a {
    color: black;
  }

  .toolbar-nav {
    align-self: stretch;
    font-weight: 800;
    display: flex;
    flex-direction: row-reverse;
    margin: 20px;
    justify-content: space-between;

    a {
      text-decoration: none;
    }
  }

 .back-link {
    background: no-repeat 0/32px url(images/circle-arrow-left-407.png);
    padding: 0 0 0 40px;
    line-height: 32px;
  }

  .title {
    background: no-repeat top/150px url("images/glimmer-material-logo.svg");
    font-style: italic;
    font-weight: 800;
    padding: 170px 0 0;
    text-transform: lowercase;

    &--accent {
      font-weight: 300;
    }
  }

  .introduction {
    margin-top: 25px;

    p {
      text-align: center;
    }

    a {
      color: black;
    }
  }

  code {
    display: block;
    background-color: #f3f3f3;
    font-size: 14px;
    padding: 5px 10px;
    margin: 10px 0;

    .lang {
      color: #b7b7b7;
      float: right;
      font-size: .8em;
      margin-left: auto;
      padding-left: 25px;
    }
  }
}
